#loginformSection {
    position: relative;
    display: flex;
    width: 800px;
    height: fit-content;
    background-color: rgb(146, 146, 146);
    justify-content: flex-start;
    margin: auto;
    border-radius: 45px 45px 45px 45px;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

.info {
    text-align: center;
    font-family: sans-serif;
}

#contactLabel {
    font-size: xx-large;
    font-family: sans-serif;
    height: 1%;
    text-decoration: underline;
}

#problemText {
    position: relative;
    height: 200px;
    width: 600px;
}

.formTags {
    font-size: large;
    font-family: sans-serif;
}

#contactform {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* align-self: center; */
}