#menuSection {
    width: 100%;
    height: 80px;
    display:flex;
    justify-content:center;
    background-color: darkred;
    border-radius: 25px 25px 25px 25px;
}

#menuItemsSection {
    position: relative;
    /* background-color: aqua; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    top: 25%;
    /* left: 10%; */
}

#menuItemList {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    list-style: none;
    padding-left: 0;
}

.menuItem {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.8vw;
    text-align: center;
}

.menuLink {
    text-decoration: none;
}

.menuText {
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
}

#profileSection {
    width: 30%;
    /* background-color: darkblue; */
    right: 0;
}

#profileText {
    text-align: center;
}

#emptyLeftSection {
    display: flex;
    width: 30%;
    /* background-color: darkblue; */
    left: 0;
    align-items: center;
    justify-content: center;
}

#leftMenuSectionText {
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 2vw;
}

#proposalList {
    text-align: center;
    justify-content: center;
    list-style: none;
    font-family: sans-serif;
}

#budgetItem {
    display: none;
}

#logoutItem {
    display: none;
}

#profileItem {
    display: none;
}
