<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BudgetBuddy</title>
    <link rel="stylesheet" href="assets/css/Menu.css">
    <script src="assets/js/main.js"></script>
</head>
<body style="background-color: rgb(44, 44, 44); color:white;" onload="loadUserDataMain(); init();">
    <p id="data" hidden>{{username}}</p>
    <div id="menuSection">
        <div id="emptyLeftSection">
            <p id="leftMenuSectionText">BudgetBuddy</p>
        </div>
        
        <div id="menuItemsSection">
            <ul id="menuItemList">
                <li class="menuItem">
                    <a href="/" class="menuLink"><p class="menuText">Home</p></a>
                </li>
                <li class="menuItem">
                    <a href="/about" class="menuLink"><p class="menuText">About</p></a>
                </li>
                <li class="menuItem" id="budgetItem">
                    <a href="/budget" class="menuLink"><p class="menuText">Budget</p></a>
                </li>
                <li class="menuItem" id="loginItem">
                    <a href="/login" class="menuLink"><p class="menuText">Login</p></a>
                </li>
                <li class="menuItem" id="registerItem">
                    <a href="/register" class="menuLink"><p class="menuText">Register</p></a>
                </li>
                <li class="menuItem" id="profileItem">
                    <a href="/profile" class="menuLink"><p class="menuText">Profile</p></a>
                </li>
                <li class="menuItem" id="logoutItem">
                    <a href="/logout" class="menuLink"><p class="menuText">Logout</p></a>
                </li>

            </ul>
        </div>
        <div id="profileSection">
            <p id="profileText">Not signed in?<br>Login to begin!</p>
        </div>
    </div>
    {{{body}}}

</body>
</html>