<link rel="stylesheet" href="assets/css/about.css">

<h1 class="pageHeader">About BudgetBuddy</h1>
<div>
    <p id="purposeText">Ever needed to track your Budget? BudgetBuddy is the perfect app for you!   <br>This is app is designed for keeping track of your expenses and managing your budget.</p>
</div>

<h1 class="pageHeader">The Developers</h1>
<div id="authorSection">
    <p id="authorSectionText">BudgetBuddy application was developed by the SpicyChihuahuas</p>
    <ul id="authorList">
        <li class="authorItem">Kyle Bye</li>
        <li class="authorItem"></li>
        <li class="authorItem"></li>
        <li class="authorItem"></li>
    </ul>
</div>
