<link rel="stylesheet" href="assets/css/about.css">

<h1 class="pageHeader">Proposal</h1>
<div>
    <p id="purposeText">
        We propose a project called "BudgetBuddy" which will have at least these following features:
        <ul id="proposalList">
            <li>Account System (Registration, Login System, and Customization)</li>
            <li>Options to plan your budget on certain intervals (Weekly, Monthly, etc.)</li>
            <li>Expense Priority (Deciding what's required vs. what's desired)</li>
        </ul>
    </p>
</div>

<h1 class="pageHeader">About BudgetBuddy</h1>
<div>
    <p id="purposeText">Ever needed to track your Budget? BudgetBuddy is the perfect app for you!   <br>This is app is designed for keeping track of your expenses and managing your budget.</p>
</div>

<h1 class="pageHeader">The Developers</h1>
<div id="authorSection">
    <p id="authorSectionText">BudgetBuddy application was developed by the SpicyChihuahuas</p>
    <ul id="authorList">
        <li class="authorItem">Kyle Bye</li>
        <li class="authorItem"></li>
        <li class="authorItem"></li>
        <li class="authorItem"></li>
    </ul>
</div>
