<link rel="stylesheet" href="assets/css/budget.css">
<script src="assets/js/budget.js"></script>

<br><br>
<div id="bodySection"> 

	<h1 class="pageHeader">BUDGET SECTION</h1>
	<p id="userText"></p>

	<h2 id="incomeLabel">Income<br>---</h1>

	<form oninput="updateIncome();" id="budgetForm">
        <p class="formText">Hourly Wage (Per Hour): <br>$<input id="wage" name="wage" type="number" step="0.01" required/></p>
		<p class="formText">Hours per Week:</p>
		<input id="weeklyhours" name="weeklyhours" type="number" required/>
		<br>
        <p class="formText">Paycheck Arrival: </p>
        <input type="radio" id="weekly" name="payArrive" value="Weekly">
        <label for="weekly">Weekly (Every Week)</label><br><br>
        <input type="radio" id="biweekly" name="payArrive" value="Bi-Weekly">
        <label for="biweekly">Bi-Weekly (Every Other Week)</label>
	
        <br><br>
	
        <p class="resultText">Monthly Income = $<output step="0.01" id="income" name="income"></output></p>
	</form>
	
	<h2 id="incomeLabel">Expenses<br>---</h1>
	<TITLE> Add/Remove Expenses in the following table </TITLE>

	<TABLE id="dataTable" border="1">
		<TR>
			<TD><INPUT type="checkbox" name="chk"/></TD>
			<TD><INPUT type="number" step="0.01" name="txt" class="expenseVal"/></TD>
			<TD>
				<SELECT name="country" class="expenseType">
					<OPTION value="groceries">Groceries</OPTION>
					<OPTION value="car">Car Payment</OPTION>
					<OPTION value="gas">Gas</OPTION>
					<OPTION value="rent">Rent/House Payment</OPTION>
					<OPTION value="subs">Subscription</OPTION>
				</SELECT>
			</TD>
		</TR>
	</TABLE>
	
	<INPUT type="button" value="Add Expense" onclick="addRow('dataTable')" class="expenseButton"/>

	<INPUT type="button" value="Delete Expense(s)" onclick="deleteRow('dataTable')" class="expenseButton"/>
<script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "U.S Smartphone OS Market Share, Q3 2012",
        fontFamily: "Impact",
        fontWeight: "normal"
      },

      legend:{
        verticalAlign: "bottom",
        horizontalAlign: "center"
      },
      data: [
      {
        //startAngle: 45,
       indexLabelFontSize: 20,
       indexLabelFontFamily: "Garamond",
       indexLabelFontColor: "darkgrey",
       indexLabelLineColor: "darkgrey",
       indexLabelPlacement: "outside",
       type: "doughnut",
       showInLegend: true,
       dataPoints: [
       {  y: 53.37, legendText:"Android 53%", indexLabel: "Android 53%" },
       {  y: 35.0, legendText:"iOS 35%", indexLabel: "Apple iOS 35%" },
       {  y: 7, legendText:"Blackberry 7%", indexLabel: "Blackberry 7%" },
       {  y: 2, legendText:"Windows 2%", indexLabel: "Windows Phone 2%" },
       {  y: 5, legendText:"Others 5%", indexLabel: "Others 5%" }
       ]
     }
     ]
   });

    chart.render();
  }
  </script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script></head>
  <body>
    <div id="chartContainer" style="height: 300px; width: 100%;">
    </div>
</div>
