<link rel="stylesheet" href="assets/css/contact.css">
<br>
<br>

<p id="errorText"></p>

<div id="loginformSection">
    <!--
        Contact Us Form
        =====
        - Textbox for a Name
        - Huge Textbox for a paragraph
    -->
    <form id="loginform" action="/processhelp" method="POST">
    </form>
</div>