<link rel="stylesheet" href="assets/css/contact.css">
<br>
<br>

<p id="errorText"></p>

<div id="loginformSection">
    <!--
        Contact Us Form
        =====
        - Textbox for a Name
        - Huge Textbox for a paragraph
    -->
    <p id="contactLabel">Contact Us</p>
    <p id="info"> If you have any concerns or are expreincing any bugs please email the product owner Parker Woods at: parkerjwoods@lewisu.edu</p>
    <form id="loginform" action="/processhelp" method="POST">
    </form>
</div>