<link rel="stylesheet" href="assets/css/contact.css">
<br>
<br>

<p id="errorText"></p>

<div id="loginformSection">
    <!--
        Contact Us Form
        =====
        - Textbox for a Name
        - Huge Textbox for a paragraph
    -->
    <p id="contactLabel">Contact Us</p>
    
    <form id="contactform" action="/processhelp" method="POST">
        <p class="formTags">Name</p>
        <input id="name" name="name" type="text" required/><br>
        <p class="formTags">Please describe your issue below.</p>
        <input id="problemText" name="problemText" type="text" required/><br>
        <input id="submitButton" name="submitButton" type="submit"/>
    </form>
    <br>
    <p class="info"> If you have any concerns or are expreincing any bugs please email the product owner.</p>
    <p class="info">Parker Woods: parkerjwoods@lewisu.edu</p>
</div>