<link rel="stylesheet" href="assets/css/home.css">
<h1 id="pageHeader">Budget Buddy: Home Page</h1>
<img id="landingImg" src="https://cdn.discordapp.com/attachments/1014623105144070197/1033959182480711731/IMG_6520.png">
<script src="assets/js/home.js"/>