<link rel="stylesheet" href="assets/css/login.css">
<br>
<br>

<p id="errorText"></p>

<div id="loginformSection">
    <p id="loginLabel">LOGIN</p>
    <form id="loginform" action="/processlogin" method="POST">
        <p class="formText">Username:</p> 
        <input id="username" name="username" type="text" required/>
        <p class="formText">Password:</p> 
        <input id="password" name="password" type="password" required/><br>
        <input id="submitButton" name="submitButton" type="submit"/>
    </form>
</div>